* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
@import "tailwindcss";
.demo-logo-vertical {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}
.home-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
}

.fc-timegrid-slot {
  height: 40px !important;
}

.fc-timegrid-slot-label,
.fc-timegrid-col-frame {
  font-size: 16px;
}

.modal-booking {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.fc-timegrid-slot {
  height: 40px !important;
}

.fc-timegrid-slot-label,
.fc-timegrid-col-frame {
  font-size: 16px;
}
.day-number-select {
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
  padding: 4px 6px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.day-number-select:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.text-event{
    padding: 5px 10px 5px 0;
}
.infor {
    padding-top: 50px; 
}

.infor h4 {
    margin-bottom: 8px;
}

.infor ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infor li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 14px;
}

.infor .color-box {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
}

.infor .approved {
    background-color: #52c41a;
}

.infor .pending {
    background-color: #faad14;
}

.infor .cancelled {
    background-color: #ff4d4f;
} 
.infor .editable-dot {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 8px;
}
